.post-body {
  box-shadow: 0px 4px 50px 0px #0000001a;
  width: 360px;
  border-radius: 4px;
  margin: 20px;
  margin-left: 50px;
  padding: 10px;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.post-header-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-header-name {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(78, 78, 78);
}

.post-caption {
  font-size: 0.8rem;
  color: #000000;
  font-style: italic;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post-footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.space-right {
  margin-right: 8px;
}

.post-footer-like-icon {
  cursor: pointer;
}

.post-footer-comment-icon {
  cursor: pointer;
}

.share-icon {
  cursor: pointer;
}
