.register-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: calc(90vh - 1.2rem);
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
}

.register-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-left h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.register-left h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.register-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
.register-form input {
  width: 100%;
  height: 1.2rem;
  border-radius: 4px;
  border: 1px solid #e9ecef;
  padding: 0.5rem;
  margin-bottom: 10px;
}

.register-button {
  background-color: #751212;
  box-shadow: 0 20 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  height: 2rem;
  width: calc(100% + 8px);
  box-sizing: content-box;
  cursor: pointer;
}
