<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Person List</title>
  </head>
  <body>
    <h1>Person List</h1>
    <ul>
      <% for (let i = 0; i < data.length; i++) { %>
      <div style="background-color: aqua; border-radius: 16px; margin: 16px">
        <li><%= data[i].name %></li>
        <li><%= data[i].age %></li>
        <li><%= data[i].nationality %></li>
      </div>
      <% } %>
    </ul>
  </body>
</html>
