.whats-body {
  box-shadow: 0px 4px 50px 0px #0000001a;
  width: 360px;
  border-radius: 4px;
  margin: 20px;
  margin-left: 50px;
  padding: 10px;
}

.whats-text {
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: 500;
}

.whats-content {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.whats-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.attachemt-icon {
  width: 20px;
  height: 20px;
  margin-left: 0.5rem;
  cursor: pointer;
}

.whats-input {
  width: 90%;
  border: none;
  border-radius: 2px;
  padding: 0.2rem;
  font-size: 0.9rem;
  background-color: #f5f5f5;
}

.post-button {
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 0.2rem 0.8rem;
  font-size: 0.9rem;
  color: #fff;
  background-color: #751212;
}

.whats-file {
  display: none;
}

.whats-image {
  width: 360px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-top: 10px;
}
